Repository VirgilSecurity/virgil-keyknox-javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, tslint --fix

.lintstagedrc:

{
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.ts": [
    "tslint --fix",
    "git add"
  ]
}

Fix tests
  src/__tests__/CloudGroupTicketStorage.test.ts
Due: tslint --fix

Add Virgil-Agent header
  package.json
  rollup.config.js
  src/KeyknoxClient.ts
Due: eslint --fix, tslint --fix

Bump version
  package.json
Due: none

Cleanup
  src/KeyknoxClient.ts
Due: tslint --fix

Remove unused global
  rollup.config.js
Due: eslint --fix

Add Virgil-Agent header
  package.json
  rollup.config.js
  src/clients/KeyknoxClient.ts
Due: eslint --fix, tslint --fix

Update @virgilsecurity/crypto-types
  package.json
Due: none

Bump version
  README.md
  package.json
Due: none

Update versions
  README.md
  package.json
Due: none

Update
  README.md
  package.json
Due: none

Fix TypeScript declaration files generation
  package.json
  rollup.config.js
  setup-mocha.js
  src/clients/KeyknoxClient.ts
Due: eslint --fix, tslint --fix

Fix TypeScript declaration files generation
  package.json
  rollup.config.js
  setup-mocha.js
  src/KeyknoxClient.ts
Due: eslint --fix, tslint --fix

Fix linter errors
  src/CloudKeyStorage.ts
  src/KeyknoxManager.ts
  src/clients/KeyknoxClient.ts
Due: tslint --fix

Fix linter errors
  src/KeyknoxClient.ts
Due: tslint --fix

Fix custom errors in React Native
  src/errors.ts
Due: tslint --fix

Fix test
  src/errors.ts
Due: tslint --fix

Update
  src/errors.ts
Due: tslint --fix

Fix linter errors
  src/errors.ts
Due: tslint --fix

Update
  package.json
  src/errors.ts
Due: tslint --fix

Fix README.md
  README.md
Due: none

Update tests
  src/__tests__/CloudGroupTicketStorage.test.ts
  src/__tests__/CloudKeyStorage.test.ts
  src/__tests__/KeyknoxManager.test.ts
  src/__tests__/SyncKeyStorage.test.ts
  src/types.ts
Due: tslint --fix

Perform all tasks asynchronously
  src/CloudGroupTicketStorage.ts
Due: tslint --fix

Throw 'GroupTicketNoAccessError' if recipient has no access to group ticket
  src/CloudGroupTicketStorage.ts
  src/__tests__/CloudGroupTicketStorage.test.ts
  src/errors.ts
Due: tslint --fix

Update error message
  src/errors.ts
Due: tslint --fix

Update crypto types
  package.json
Due: none

Update virgil-crypto and virgil-sdk
  package.json
Due: none

Update .travis.yml
  .travis.yml
Due: none

Update year in LICENSE
  LICENSE
Due: none

Allow crypto-types versions up to next major release
  package.json
Due: none

Revert "Allow crypto-types versions up to next major release"
  package.json
Due: none

test
  package.json
Due: none

Use latest crypto-types version up to next major release
  package.json
Due: none

bump axios to latest
  package.json
Due: none

Upgrade of axios to resolve vulnerabilities
  package.json
Due: none

Backup with keyname
  package.json
  src/CloudKeyStorage.ts
Due: tslint --fix
