Repository VirgilSecurity/virgil-keyknox-javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, tslint --fix

Add linter
  .eslintrc.json
  .prettierrc
  package.json
  src/CloudEntrySerializer.ts
  src/CloudKeyStorage.ts
  src/KeyEntryStorageWrapper.ts
  src/SyncKeyStorage.ts
  src/__tests__/.eslintrc.json
  src/__tests__/KeyknoxManager.test.ts
  src/__tests__/SyncKeyStorage.test.ts
  src/clients/IKeyknoxClient.ts
  src/clients/KeyknoxClient.ts
  src/clients/__tests__/.eslintrc.json
  src/cryptos/IKeyknoxCrypto.ts
  src/cryptos/__tests__/.eslintrc.json
  src/entities.ts
Due: tslint --fix

Add .travis.yml
  .travis.yml
Due: none

Fix
  package.json
  src/clients/KeyknoxClient.ts
Due: tslint --fix

Fix example
  example/client.js
  example/server.js
Due: eslint --fix

[skip ci] Update README.md
  README.md
Due: none

Fix
  src/__tests__/CloudKeyStorage.test.ts
  src/__tests__/KeyEntryStorageWrapper.test.ts
  src/__tests__/KeyEntryUtils.test.ts
  src/__tests__/KeyknoxManager.test.ts
  src/__tests__/SyncKeyStorage.test.ts
  src/clients/__tests__/KeyknoxClient.test.ts
  src/cryptos/__tests__/KeyknoxCrypto.test.ts
Due: tslint --fix

Update
  package.json
  src/CloudEntrySerializer.ts
  src/CloudKeyStorage.ts
  src/KeyEntryUtils.ts
  src/KeyknoxManager.ts
  src/SyncKeyStorage.ts
  src/__tests__/CloudEntrySerializer.test.ts
  src/__tests__/CloudKeyStorage.test.ts
  src/__tests__/KeyEntryStorageWrapper.test.ts
  src/__tests__/KeyEntryUtils.test.ts
  src/__tests__/KeyknoxManager.test.ts
  src/__tests__/SyncKeyStorage.test.ts
  src/clients/IKeyknoxClient.ts
  src/clients/KeyknoxClient.ts
  src/clients/__tests__/KeyknoxClient.test.ts
  src/cryptos/IKeyknoxCrypto.ts
  src/cryptos/KeyknoxCrypto.ts
  src/cryptos/__tests__/KeyknoxCrypto.test.ts
  src/entities.ts
  src/types.ts
Due: tslint --fix

Update example
  example/client.js
Due: eslint --fix

Update README.md
  README.md
Due: none

Bump version
  package.json
Due: none

Fix
  package.json
Due: none

Use API_URL environment variable in tests
  .env.example
  src/__tests__/CloudKeyStorage.test.ts
  src/__tests__/KeyknoxManager.test.ts
  src/__tests__/SyncKeyStorage.test.ts
  src/clients/__tests__/KeyknoxClient.test.ts
Due: tslint --fix

Update version
  package.json
Due: none

Add v2 methods in client
  src/CloudKeyStorage.ts
  src/KeyknoxClient.ts
  src/KeyknoxManager.ts
  src/__tests__/CloudKeyStorage.test.ts
  src/__tests__/KeyknoxClient.test.ts
  src/__tests__/KeyknoxManager.test.ts
  src/__tests__/SyncKeyStorage.test.ts
  src/clients/IKeyknoxClient.ts
  src/clients/KeyknoxClient.ts
  src/clients/__tests__/.eslintrc.json
  src/types.ts
Due: tslint --fix

Update linter settings
  .eslintignore
  .eslintrc.json
  package.json
  src/CloudKeyStorage.ts
  src/index.ts
Due: tslint --fix

Replace default exports with named exports
  src/CloudKeyStorage.ts
  src/KeyEntryStorageWrapper.ts
  src/KeyknoxManager.ts
  src/SyncKeyStorage.ts
  src/__tests__/CloudKeyStorage.test.ts
  src/__tests__/KeyEntryStorageWrapper.test.ts
  src/__tests__/KeyknoxManager.test.ts
  src/__tests__/SyncKeyStorage.test.ts
  src/cryptos/IKeyknoxCrypto.ts
  src/cryptos/KeyknoxCrypto.ts
  src/cryptos/__tests__/.eslintrc.json
  src/cryptos/__tests__/KeyknoxCrypto.test.ts
  src/index.ts
Due: tslint --fix

Update KeyknoxCrypto and KeyknoxManager
  src/CloudEntrySerializer.ts
  src/CloudKeyStorage.ts
  src/IKeyknoxCrypto.ts
  src/KeyEntryUtils.ts
  src/KeyknoxClient.ts
  src/KeyknoxCrypto.ts
  src/KeyknoxManager.ts
  src/SyncKeyStorage.ts
  src/__tests__/CloudEntrySerializer.test.ts
  src/__tests__/CloudKeyStorage.test.ts
  src/__tests__/KeyknoxCrypto.test.ts
  src/__tests__/KeyknoxManager.test.ts
  src/__tests__/SyncKeyStorage.test.ts
  src/cryptos/__tests__/KeyknoxCrypto.test.ts
  src/entities.ts
  src/index.ts
  src/types.ts
Due: tslint --fix

KeyknoxManager is no longer responsible for key pair management
  package.json
  src/CloudKeyStorage.ts
  src/KeyknoxClient.ts
  src/KeyknoxManager.ts
  src/__tests__/CloudKeyStorage.test.ts
  src/__tests__/KeyknoxManager.test.ts
  src/__tests__/SyncKeyStorage.test.ts
Due: tslint --fix

Fix linter errors
  src/IKeyknoxCrypto.ts
  src/KeyknoxClient.ts
  src/KeyknoxCrypto.ts
  src/KeyknoxManager.ts
  src/__tests__/KeyknoxCrypto.test.ts
  src/__tests__/KeyknoxManager.test.ts
Due: tslint --fix

Add KeyknoxCrypto#importGroupSession
  src/IKeyknoxCrypto.ts
  src/KeyknoxCrypto.ts
  src/__tests__/KeyknoxCrypto.test.ts
  src/types.ts
Due: tslint --fix

Fix virgil-crypto warnings in tests
  src/__tests__/CloudKeyStorage.test.ts
  src/__tests__/KeyknoxClient.test.ts
  src/__tests__/KeyknoxCrypto.test.ts
  src/__tests__/KeyknoxManager.test.ts
  src/__tests__/SyncKeyStorage.test.ts
Due: tslint --fix

WIP CloudGroupSessionStorage
  src/CloudGroupSessionStorage.ts
  src/types.ts
Due: tslint --fix

Clear yarn cache before install
  .travis.yml
Due: none

CloudGroupSessionStorage
  src/CloudGroupSessionStorage.ts
  src/__tests__/CloudGroupSessionStorage.test.ts
  src/errors.ts
Due: tslint --fix

Fix custom error classes for react-native
  src/__tests__/errors.test.ts
  src/errors.ts
Due: tslint --fix

Backward compatibility in client errors
  src/CloudGroupSessionStorage.ts
  src/KeyknoxClient.ts
Due: tslint --fix

Add lint-staged and husky
  .huskyrc.json
  .lintstagedrc.json
  package.json
Due: none

v0.4.0-next.0
  package.json
  src/index.ts
Due: tslint --fix

CloudGroupSessionStorage => CloudGroupTicketStorage
  src/CloudGroupTicketStorage.ts
  src/IKeyknoxCrypto.ts
  src/KeyknoxCrypto.ts
  src/__tests__/CloudGroupTicketStorage.test.ts
  src/__tests__/KeyknoxCrypto.test.ts
  src/index.ts
  src/types.ts
Due: tslint --fix

Fix
  src/CloudGroupTicketStorage.ts
Due: tslint --fix

Update
  src/CloudGroupTicketStorage.ts
  src/__tests__/CloudGroupTicketStorage.test.ts
  src/constants.ts
  src/errors.ts
  src/index.ts
  src/types.ts
Due: tslint --fix

Update
  README.md
  src/CloudGroupTicketStorage.ts
  src/__tests__/CloudGroupTicketStorage.test.ts
  src/errors.ts
Due: tslint --fix

Fix test
  src/__tests__/CloudGroupTicketStorage.test.ts
Due: tslint --fix

Update tests
  src/__tests__/CloudGroupTicketStorage.test.ts
Due: tslint --fix

Update
  src/KeyknoxClient.ts
  src/KeyknoxCrypto.ts
  src/KeyknoxManager.ts
  src/types.ts
Due: tslint --fix

Update @virgilsecurity/crypto-types
  package.json
  src/CloudGroupTicketStorage.ts
Due: tslint --fix

Fix tests
  src/__tests__/CloudGroupTicketStorage.test.ts
Due: tslint --fix

Path conditions:
  eslint --fix: any of: *.js
  tslint --fix: any of: *.ts
